.idea
.media

__pycache__/
*.pyc

# Virtualenv
.venv/
venv/
env/

# Django
*.log

# Environment variables
.env

# User-uploaded files
media/

# Static files (собранные collectstatic)
staticfiles/
