{% extends 'core/user/layout.html' %}
{% load static %}

{% block title %}These are our services{% endblock %}
{% block description %}These are our services{% endblock %}
{% block keywords %}These are our services{% endblock %}

{% block content %}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li class="active">Услуги</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Наши услуги</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <img src="" class="img-responsive img-thumbnail" alt="">
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="page-header">
                    <h3></h3>
                </div>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <img src="" alt="">
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="page-header">
                    <h3></h3>
                </div>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <img src="" alt="">
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="page-header">
                    <h3></h3>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="paginations">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <nav aria-label="Page navigation"></nav>
            </div>
        </div>
    </div>
</div>


{% endblock %}
