{% extends 'core/user/layout.html' %}
{% load static %}

{% block title %}These are our services{% endblock %}
{% block description %}These are our services{% endblock %}
{% block keywords %}These are our services{% endblock %}

{% block content %}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li class="active">Услуги</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Наши услуги</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <img src="/site/glide?path=%2Fupload%2FWebsiteService%2F115%2Fimage.png&w=720&h=300&fit=crop" class="img-responsive img-thumbnail" alt="">
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="page-header">
                    <h3>Паркинг</h3>
                </div>
                <p><b>Воспользуйтесь стоянкой или подземным паркингом</b></p>Мы предоставляем услуги паркинга с круглосуточной охраной всех автомобилей жильцов.&nbsp;<br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <img src="/site/glide?path=%2Fupload%2FWebsiteService%2F116%2Fimage.png&w=720&h=300&fit=crop" class="img-responsive img-thumbnail" alt="">
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="page-header">
                    <h3>Выгул собак</h3>
                </div>
                <p><i></i><b>Воспользуйтесь услугой выгула ваших питомцем</b><br>Мы предоставляем услуги выгула собак в Одессе с гарантией качества – питомец не убежит и получит достаточную физическую активность. Результат – счастливый хвостатый и довольный хозяин.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <img src="/site/glide?path=%2Fupload%2FWebsiteService%2F117%2Fimage.png&w=720&h=300&fit=crop" class="img-responsive img-thumbnail" alt="">
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="page-header">
                    <h3>Услуги по вывозу бытовых отходов</h3>
                </div>
                        <p><p>В состав услуги по управлению бытовыми отходами входят операции по сбору, перевозке, восстановлению и удалению бытовых отходов, а также деятельность, связанная с организацией работы системы управления бытовыми отходами, которая осуществляется нами.</p></p>                    </div>
        </div>
    </div>
</div>

<div class="paginations">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <nav aria-label="Page navigation"></nav>
            </div>
        </div>
    </div>
</div>


{% endblock %}
