{% extends 'core/adminlte/admin_layout.html' %}

{% load static %}

{% block title %}
  Редактирование главной страницы
{% endblock title %}
{% block content %}
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Редактирование страницы</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item">
              <a href="{% url 'finance:admin_stats' %}"><i class="bi bi-house-door-fill"></i> Главная</a>
            </li>
            <li class="breadcrumb-item active">Редактирование страницы</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <form action="{% url 'website:admin_home' %}"
            method="post"
            enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Редактирование страницы "Главная"</h3>
            <div class="card-tools">
              <button type="button"
                      class="btn btn-secondary btn-sm"
                      onclick="alert('Файлы robots.txt и sitemap.xml успешно обновлены!')">
                <span class="d-none d-sm-inline">Обновить robots и sitemap</span>
                <i class="bi bi-arrow-clockwise d-sm-none" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <!-- Слайдер -->
            <h3 class="page-header">Слайдер</h3>
            <hr />
            {{ slider_formset.management_form }}
            <div class="row">
              {% for form in slider_formset %}
                {# Используем 'form' как временную переменную #}
                <div class="col-md-4">
                  <h4>Слайд {{ forloop.counter }}</h4>
                  {% if form.instance.image %}
                    <img src="{{ form.instance.image.url }}"
                         alt="Превью"
                         class="img-fluid rounded mb-3" />
                  {% endif %}
                  <div class="mb-3">
                    <label class="form-label" for="{{ form.image.id_for_label }}">Рекомендуемый размер: (1920x800)</label>
                    {{ form.image }}{{ form.image.errors }}{{ form.id }}
                  </div>
                </div>
              {% endfor %}
            </div>
            <!-- Краткая информация -->
            <h3 class="page-header mt-4">Краткая информация</h3>
            <hr />
            <div class="mb-3">
              <label class="form-label" for="{{ form.title.id_for_label }}">Заголовок</label>
              {{ form.title }}{{ form.title.errors }}
            </div>
            <div class="mb-3">
              <label class="form-label" for="{{ form.description.id_for_label }}">Краткий текст</label>
              {{ form.description }}{{ form.description.errors }}
            </div>
            <div class="form-check mb-3">
              {{ form.is_show_apps }}
              <label class="form-check-label" for="{{ form.is_show_apps.id_for_label }}">{{ form.is_show_apps.label }}</label>
              {{ form.is_show_apps.errors }}
            </div>
            <!-- Рядом с нами -->
            <h3 class="page-header mt-4">Рядом с нами</h3>
            <hr />
            {{ blocks_formset.management_form }}
            <div class="row">
              {% for block_form in blocks_formset %}
                <div class="col-md-6 col-lg-4">
                  <h4>Блок {{ forloop.counter }}</h4>
                  {% if block_form.instance.image %}
                    <img src="{{ block_form.instance.image.url }}"
                         alt="Превью"
                         class="img-fluid rounded mb-3" />
                  {% endif %}
                  <div class="mb-3">
                    <label class="form-label" for="{{ block_form.image.id_for_label }}">Изображение (1000x600)</label>
                    {{ block_form.image }}{{ block_form.image.errors }}
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="{{ block_form.title.id_for_label }}">Заголовок блока</label>
                    {{ block_form.title }}{{ block_form.title.errors }}
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="{{ block_form.description.id_for_label }}">Описание</label>
                    {{ block_form.description }}{{ block_form.description.errors }}
                  </div>
                  {{ block_form.id }}
                </div>
              {% endfor %}
            </div>
            <!-- Настройки SEO -->
            <h3 class="page-header mt-4">Настройки SEO</h3>
            <hr />
            <div class="mb-3">
              <label class="form-label" for="{{ seo_form.title.id_for_label }}">Title</label>
              {{ seo_form.title }}
              {{ seo_form.title.errors }}
            </div>
            <div class="mb-3">
              <label class="form-label" for="{{ seo_form.description.id_for_label }}">Description</label>
              {{ seo_form.description }}
              {{ seo_form.description.errors }}
            </div>
            <div class="mb-3">
              <label class="form-label" for="{{ seo_form.keywords.id_for_label }}">Keywords</label>
              {{ seo_form.keywords }}
              {{ seo_form.keywords.errors }}
            </div>
          </div>
          <div class="card-footer text-center">
            <a href="{% url 'website:admin_home' %}" class="btn btn-secondary">Отменить</a>
            <button type="submit" class="btn btn-success">Сохранить</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- /.content -->
{% endblock content %}
