{% extends 'core/adminlte/cabinet_layout.html' %}

{% block title %}
  Услуги и тарифы - {{ apartment.house.title }}, кв. {{ apartment.number }}
{% endblock title %}
{% block styles %}
  {{ block.super }}
  <style>
    .th-unit {
      width: 150px;
    }

    .th-price {
      width: 200px;
    }
  </style>
{% endblock styles %}
{% block content %}
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Тарифы - {{ apartment.house.title }}, кв. {{ apartment.number }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item">
              <a href="{% url 'cabinet:cabinet' %}">Личный кабинет</a>
            </li>
            <li class="breadcrumb-item active">Тарифы</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            Текущий тариф:
            {% if apartment.tariff %}
              <strong>{{ apartment.tariff.name }}</strong>
              {% if apartment.tariff.description %}
                <br />
                <small class="text-muted">{{ apartment.tariff.description }}</small>
              {% endif %}
            {% else %}
              <span class="text-danger">Не назначен</span>
            {% endif %}
          </h3>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Услуга</th>
                <th class="th-unit">Ед. изм.</th>
                <th class="th-price">Цена за ед., грн</th>
              </tr>
            </thead>
            <tbody>
              {% for item in tariff_services %}
                <tr>
                  <td>{{ item.service.name }}</td>
                  <td>{{ item.service.unit.name }}</td>
                  <td>{{ item.price|floatformat:2 }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="3" class="text-center p-4">Для данной квартиры тариф не назначен или в нем нет услуг.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
